name: Export Modpack

on: [ push ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  pack-name: create-fossilized

jobs:
  get-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine version number
        id: tag
        run: |
          pa=$(cat ./pack.toml | grep "version = ")
          pa=${pa#"version = "}
          echo "ref=v${pa//\"}" >> "${GITHUB_OUTPUT}"
    outputs:
      version: ${{ steps.tag.outputs.ref }}

  export:
    needs:
      - get-version
    env:
      version: ${{ needs.get-version.outputs.version }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup packwiz CLI
        uses: vspr-sh/packwiz-setup-action@master

      - name: Prepare Folders
        run: rm -rf tmp; mkdir -p tmp

      - name: Export To Modrinth Format
        run: packwiz mr export -o tmp/${{env.pack-name}}-modrinth.mrpack

      - name: Upload package to workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          path: tmp/${{env.pack-name}}-modrinth.mrpack
          name: package-${{env.pack-name}}-modrinth.mrpack
          retention-days: 1

      - name: Upload package to GitHub release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tmp/${{env.pack-name}}-modrinth.mrpack
          asset_name: ${{env.pack-name}}-modrinth.mrpack
          release_name: ${{ env.version }}
          tag: ${{ env.version }}
          overwrite: true
